<div class="mt-5 mx-auto">
    <h1>Adding a Badge Class</h1>

    <form class="form" method="post" encType="multipart/form-data">
        <p>
            <label>Name</label>
            <input type="text" class="form-control" id="name" name="name"/>            
        </p>

        <p>
            <label>Description</label>
            <input type="text" class="form-control" id="description" name="description"/>            
        </p>

        <p>
            <label>Criteria to Earn</label>
            <input type="text" class="form-control" id="criteriaNarrative" name="criteriaNarrative"/>            
        </p>

        <p>
            <label>Badge Image (PNG or SVG, <= 256kb)</label>
            <input type="file" class="form-control" id="image" name="image"/>            
        </p>

        <p>
            <button type="submit" class="btn btn-primary">Submit</button>
        </p>
    </form>
</div>