<div class="mt-5 mx-auto">
    <h1>Check a Badge</h1>

    <form class="form" method="post" target="_blank" encType="multipart/form-data">        
        <p>
            <label>Badge Image File</label>
            <input type="file" class="form-control" id="image" name="image"/>            
        </p>

        <p>
            <label>Recipient Email</label>
            <input type="text" class="form-control" id="recipientEmail" name="recipientEmail"/>
        </p>

        <p>
            <button type="submit" class="btn btn-primary">Submit</button>
        </p>
    </form></div>